<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Choose a Category
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card-content>
<ion-card-title>Hamburger</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
       <ion-card-title>Tacos</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
       <ion-card-title>Salad</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
       <ion-card-title>Burrito</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
       <ion-card-title>Chicken</ion-card-title>
    </ion-card-header>
  </ion-card>
 
</ion-content>
