<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Restaurant Info
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
<ion-card-title>The Burger Palace</ion-card-title>

    </ion-card-header>
    <ion-card-content>Monday-Saturday 7am-11pm</ion-card-content>
    <ion-card-content>Sunday 7:30am-11pm</ion-card-content>
    
    
  </ion-card> 
  <ion-card>
    <ion-card-header>
<ion-card-title>Tommy's</ion-card-title>

  </ion-card-header>
  <ion-card-content>Monday-Sunday 9am-10pm</ion-card-content>
  
  
  
</ion-card> 
</ion-content>
              